.row {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px #eee;
  margin-top: 90px;
  border-radius: 10px;
}
.nav-pills .nav-link {
  border-radius: 1.25rem;
  box-shadow: 0 0 20px #eee;
  margin-bottom: 17px;
}
.nav-link {
  display: block;
  padding: 0.5rem 7rem;
}
a {
  background: #fff;
  color: black;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 50px 10px;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 31%,
    rgb(255, 204, 112) 100%
  );
}
.col-9 {
  height: 500px;
  background-color: lightblue;
}
/* .col-9 img{
      background-size: auto;
      object-fit: cover;
      position: absolute;
      width: auto;
      height: 500px;
      border-radius: 0 10px 10px 0;
  } */
.container {
  position: relative;
}
h2 {
  color: #eee;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
button {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  border-radius: 2rem !important;
  border: none !important;
}
.text-success {
  color: white !important;
}
